<div [class]="menuState()">
    <div id="logo">
        <img class="icon" src="icons/logo.png" (click)="showMenu()" /><span>Smart Home Control</span>
    </div>

    <div id="menu">
        <a class="menu-item" *appIfHasPermission="'Dashboard'"
           routerLink="/dashboard" routerLinkActive="selected">
            <img class="icon" src="icons/menu/dashboard.png" /><span>Dashboard</span>
        </a>
        <a class="menu-item" *appIfHasPermission="'RoomsView'"
           routerLink="/rooms" routerLinkActive="selected">
            <img class="icon" src="icons/menu/rooms.png" /><span>Rooms</span>
        </a>
        <a class="menu-item" *appIfHasPermission="'DevicesView'"
           routerLink="/devices" routerLinkActive="selected">
            <img class="icon" src="icons/menu/devices.png" /><span>Devices</span>
        </a>
        <a class="menu-item" *appIfHasPermission="'ScenesView'"
           routerLink="/scenes" routerLinkActive="selected">
            <img class="icon" src="icons/menu/scenes.png" /><span>Scenes</span>
        </a>
        <a class="menu-item" *appIfHasPermission="'Automation'"
           routerLink="/automation" routerLinkActive="selected">
            <img class="icon" src="icons/menu/automation.png" /><span>Automation</span>
        </a>
        <a class="menu-item" *appIfHasPermission="'Energy'"
           routerLink="/energy" routerLinkActive="selected">
            <img class="icon" src="icons/menu/energy.png" /><span>Energy</span>
        </a>
        <a class="menu-item" *appIfHasPermission="'AdminPanel'"
           routerLink="/settings" routerLinkActive="selected">
            <img class="icon" src="icons/menu/settings.png" /><span>Settings</span>
        </a>
    </div>

    <div id="hide-buttons">
        <a class="menu-item" id="collapse-button" (click)="collapseMenu()"><img class="icon" src="icons/menu/hide.png" /><span>Hide menu</span></a>
        <a class="menu-item" id="hide-button" (click)="hideMenu()"><img class="icon" src="icons/menu/hideup.png" /></a>
    </div>
</div>