@keyframes animatedBackground {
    0% { background-position: 0 0; }
    100% { background-position: 31px 0; }
}

div.spinner
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url(/backgrounds/spinner.gif);
    background-position: center;
    opacity: 70%;
}